<!DOCTYPE HTML>
<html>
  <head>
    <title>iBelieve</title>

    <!--Javascript-->
    <script type="text/javascript" src="libs/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="libs/ember_1.4.0.js"></script>

    <!--Stylesheets-->
    <link href="/css/main.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="page">
			<div class="mainContainer">
				<p>Test</p>
			</div>
		</div>
  </body>
</html>